@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import "./partials/variables.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
}

button {
    background: none;

    border: 2px solid $mainColor;

    color: white;

    cursor: pointer;

    &:hover {
        background-color: $mainColor;
    }
}